<configuration>

 <logger name="grisu" level="debug"/>
 <logger name="grith" level="debug"/>


  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logFile.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>/var/log/grisu/grisu.log.%d{yyyy-MM-dd}.log</fileNamePattern>

      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%-60(%d{HH:mm:ss.SSS} %-5level [%thread]) %logger{0} tid=[%X{tid}] user=[%X{user}] - %msg%n</pattern>
    </encoder>
  </appender> 


  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-60(%d{HH:mm:ss.SSS} %-5level [%thread]) %logger{0} tid=[%X{tid}] user=[%X{user}] - %msg%n</pattern>
    </encoder>
  </appender>

  <root>
    <level value="warn" />
<!--     <appender-ref ref="FILE" /> -->
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
